.main {
	width: 100%;
	height: 1000px;
	overflow: hidden;
	position: relative;
	background: rgb(34,97,170); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(34,97,170,1) 1%, rgba(119,172,216,1) 73%, rgba(34,97,170,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,rgba(34,97,170,1)), color-stop(73%,rgba(119,172,216,1)), color-stop(99%,rgba(34,97,170,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(34,97,170,1) 1%,rgba(119,172,216,1) 73%,rgba(34,97,170,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(34,97,170,1) 1%,rgba(119,172,216,1) 73%,rgba(34,97,170,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(34,97,170,1) 1%,rgba(119,172,216,1) 73%,rgba(34,97,170,1) 99%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(34,97,170,1) 1%,rgba(119,172,216,1) 73%,rgba(34,97,170,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2261aa', endColorstr='#2261aa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.content{
	width: 960px;
	position: relative;
	margin: 0 auto;
}
.mainmenu {
	width: 300px;
	margin: 150px auto;
}
	.mainitem {
		border-radius: 5px;
		text-align: center;
		padding-bottom:15px;
		margin-bottom: 15px;
	}
		.mainmenu a {
			color:white;
			text-decoration: none;
		}
	.menu {
		width:300px;
		margin-top: 20px;
		height: 40px;
		border-radius: 6px;
		overflow: hidden;
		background: #c1c3c4;
		transition: all 0.4s ease-in-out 0;
	}
	.menu:hover{
		height: 230px;
		background-color: #33566a;
	}
	.menu:hover .item a{
		color:#5f86a1;
	}
	.menu:hover #i1 {
		background-color: #8fc8d1;
		margin:2px;
		border-radius: 3px;
	}
		.item {
			padding-bottom: 15px;
			padding-top: 15px;
		}