@font-face {
font-family: 'Glyphicons Halflings';
src: url('..//fonts/glyphicons-halflings-regular.eot');
src: url('..//fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype');
src: url('..//fonts/glyphicons-halflings-regular.woff') format('woff');
src: url('..//fonts/glyphicons-halflings-regular.ttf') format('truetype');
src: url('..//dist/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
header {
	width:100%;
	background: url(img/line.png) repeat-x bottom, #76c7c0;
}
	.head {
		padding-top:15px;
		padding-bottom: 15px;
	}
	.container {
		width: 960px;
	}
		.logo {
			font-family: 'Open Sans', sans-serif;
			font-size: 11pt;
			text-decoration: none;
			color:white;
		}
		.logo:hover {
			color: white;
			text-decoration: none;
		}
			.logo span {
				font-size: 14pt;
				font-weight: 800;
			}
	.menuheader {
		font-size: 8pt;
	}
	.nav>li>a {
		border-bottom: 3px solid transparent;
		-webkit-transition: all 0.4s ease-in-out 0;
		-moz-transition: all 0.4s ease-in-out 0;
		-ms-transition: all 0.4s ease-in-out 0;
		-o-transition: all 0.4s ease-in-out 0;
		transition: all 0.4s ease-in-out 0;
	}
	.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
		background-color: #62a29e;
		border-bottom: 3px solid #528b86;
	}
	.nav>li>a:hover, .nav>li>a:focus{
		background-color:#e8645a;
		border-bottom: 3px #e2534b solid;
	}
		.dropdown-menu {
			background-color:#e2534b;
			top:105%;
		}
		.arrow {
			content: "";
			position: absolute;
			top: 38px;
			left: 16px;
			border-style: solid;
			border-width: 0 6px 5px;
			border-color: #000000 transparent;
			display: none;
			width: 0;
			z-index: 1;
			border-color: #e2534b transparent;
		}
		.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
			background-color:#e8645a;
			border-color: #e2534b;
		}
		.dropdown-menu li {
			margin-left: 5px;
			margin-right: 5px;
			margin-bottom: 5px;
		}
		.dropdown-menu li:last-child {
			margin-bottom: 0px;
		}
		.dropdown-menu li a {
			color: white;
			border-radius: 4px;
			background-color:#e5655d;
		}
		.dropdown-menu li a:hover{ 
			border-radius: 4px;
			color: white;
			background-color:#76c7c0;
		}
	.nav-pills a {
		color:white; 
	}
	.glyphicon-chevron-down {
		font-size: 7px;
		padding-right: 10px;
	}
	.glyphicon-search {
		font-size: 12px;
	}
	.dropdown:hover.dropdown-menu {
		display: none;
	}
.carousel {
	width:100%;
	background-color:#76c7c0;
}
	.carousel .item img {
		margin: 0 auto;
	}
.carousel-caption {
	padding-bottom: 14%;
	width: 15%;
	margin: 0 auto;
}
	.textcar2 {
		font-size:8pt;
		font-family: 'Open Sans', sans-serif;
		background-color: #3f4646;
		border-radius: 6px;
		margin-top: 10px;
		opacity: 0.3;
		-webkit-transition: all 0.4s ease-in-out 0;
		-moz-transition: all 0.4s ease-in-out 0;
		-ms-transition: all 0.4s ease-in-out 0;
		-o-transition: all 0.4s ease-in-out 0;
		transition: all 0.4s ease-in-out 0;
	}
	.textcar1 {
		font-size: 24pt;
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		width: 80%;
		margin: 0 auto;
		background-color: #e2534b;
		border-radius: 6px;
		opacity: 0.7;
		-webkit-transition: all 0.4s ease-in-out 0;
		-moz-transition: all 0.4s ease-in-out 0;
		-ms-transition: all 0.4s ease-in-out 0;
		-o-transition: all 0.4s ease-in-out 0;
		transition: all 0.4s ease-in-out 0;
	}
		.textcar1:hover {
			opacity: 1;
		}
		.textcar2:hover {
			opacity: 1;
		}
	.carousel-indicators {
		bottom: -30px;
	}
	.carousel-indicators li {
		width: 40px;
		height: 4px;
		background-color: #b0b8b9;
		border: none;
		border-radius: 0px;
	}
	.carousel-indicators .active {
		margin: 1px;
		width: 40px;
		height: 4px;
		background-color: #e2534b;
	}
	.carousel-control.left {
		background:#e8645a;
		height: 50px;
		width: 50px;
		margin-top: 14%;
		text-align: center;
		font-size: 26pt;
	}
	.carousel-control.right {
		background:#e8645a;
		height: 50px;
		width: 50px;
		margin-top: 14%;
		font-size: 26pt;
		text-align: center;
	}
.search {
	display: none;
}
.content {
	background-color: #f3f3f3;
	width: 100%;
	overflow: hidden;
}
.namecont {
	background-color: #ececec;
	font-family: 'Open Sans', sans-serif;
	color:#7f8c8c;
	font-size: 7pt;
	margin-top: 30px;
	margin-bottom: 30px;
}
	.namecont span {
		color:#7f8c8c;
		font-size: 14pt;
		font-weight: 600;
	}
	.rownamecont {
		margin-top: 15px;
		margin-bottom:10px;
	}
	.viewmore {
		background-color:#e8645a;
		border-bottom: 3px solid transparent;
		border-radius: 4px;
		font-size: 10pt;
		padding-left: 25px;
		padding-right: 25px;
		font-family: 'Open Sans', sans-serif;
		border-color: #e2534b;
		font-weight: 600;
	}
	.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
		background-color:#e8645a;
		border-bottom: 3px solid transparent;
		border-radius: 4px;
		border-color: #e2534b;
	}
.slidecont {
	margin-bottom: 50px;
}
	.slideitem {
		background-color: #f8f8f8;
		height: 100%;
		font-size: 7pt;
		position: relative;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 45px;
		-webkit-transition: all 0.4s ease-in-out 0;
		-moz-transition: all 0.4s ease-in-out 0;
		-ms-transition: all 0.4s ease-in-out 0;
		-o-transition: all 0.4s ease-in-out 0;
		transition: all 0.4s ease-in-out 0;
	}
		.slideitem:hover {
			background: white;
		}
		.slideitem:hover #icon {
			color: #e2534b;
		}
		.slideitem:hover .readmore {
			background-color:#e8645a;
			border-color: #e2534b;
		}
	.slideitem:last-child{
		margin-right: 0px;
	}
		#icon {
			font-size: 30pt;
			color: #62bdbd;
			display: block;
			text-align: center;
			margin: 0 auto;
			-webkit-transition: all 0.4s ease-in-out 0;
			-moz-transition: all 0.4s ease-in-out 0;
			-ms-transition: all 0.4s ease-in-out 0;
			-o-transition: all 0.4s ease-in-out 0;
			transition: all 0.4s ease-in-out 0;
		}
		.iconname {
			color:#7f8c8c;
			font-family: 'Open Sans', sans-serif;
			font-size: 9pt;
			font-weight: 800;
			margin: 0 auto;
			text-align: center;
			display: block;
			padding-bottom: 10px;
		}
			.readmore {
				background-color: #76c7c0;
				border-bottom: 3px solid transparent;
				border-radius: 4px;
				font-size: 8pt;
				padding-left: 25px;
				padding-right: 25px;
				font-family: 'Open Sans', sans-serif;
				border-color: #62b9b0;
				font-weight: 600;
				position: absolute;
				left: 27%;
				top:92%;
				-webkit-transition: all 0.4s ease-in-out 0;
				-moz-transition: all 0.4s ease-in-out 0;
				-ms-transition: all 0.4s ease-in-out 0;
				-o-transition: all 0.4s ease-in-out 0;
				transition: all 0.4s ease-in-out 0;
			}
	.contentbot {
		width: 100%;
		background: #f3f3f3;
		position: relative;
		height: 970px;
	}
	.colorblock {
		background:url(img/path.png) repeat-x top,#ececec;
		width: 100%;
		height: 30%;
	}
		.border {
			background-color: #b0b8b9;
			border-radius: 8px;
			height: 200px;
			width: 100%;
			float: left;
			padding: 5px;	
			-webkit-transition: all 0.1s ease-in-out 0;
			-moz-transition: all 0.1s ease-in-out 0;
			-ms-transition: all 0.1s ease-in-out 0;
			-o-transition: all 0.1s ease-in-out 0;
			transition: all 0.1s ease-in-out 0;
			position:absolute;
			z-index: 1;
		}
 			.border:hover {
				height: 300px;
				width: 127%;
				left: -12%;
				top: -73px;
				z-index: 1000;
				background-color: #c1c7c8;
			} 

			.elipse {
				border-radius: 100%;
				height: 4%;
				width: 3%;
				background: #ececec;
				display: inline-block;
				margin: 1%;
			}
			.oval {
				border-radius: 35%;
				height: 3%;
				width: 4%;
				background: #ececec;
				float: right;
				margin: 2%;
			}
			.img {
				overflow: hidden;
				height:90%;
			}
			.border img {
				border-radius: 8px;
				height: 100%;
				width: 100%;
			}
		.contentbottext {
			font-family: 'Open Sans', sans-serif;
			font-size: 7pt;
			color: #777777;
			text-align: center;
			margin-top: 45px;
			margin-bottom: 100px;
		}
		.contentbottext span{
			color:#e1524b;
			font-weight: 600;
			font-size: 19pt;
		}
		.menuimg {
			display: block;
			clear: both;
			position: absolute;
			width: 960px;
		}
			.menuimg li {
				position: relative;
				display: inline-block;
				width: 33%;
			}
		
	.afterimg {
		margin-top: 150px;
		font-size: 8pt;
		color: #777777;
	}
		.afterimgname{
			font-size: 10pt;
			font-family: 'Open Sans', sans-serif;
			color: #7f8c8c;
			font-weight: 800;
			margin-bottom: 50px;
		}
		.afterimg a {
			color:#e1524b;
			text-decoration:underline;
		}
		.itemquality span {
			color:#e1524b;
		}
		.listquality {
			margin-top: 15px;
		}
		.itemquality {
			margin-top: 5px;
		}
		.bars {
			float: bottom;
			font-size: 10pt;
			font-family: 'Open Sans', sans-serif;
			color: #7f8c8c;
			font-weight: 800;
			vertical-align: bottom;
			padding: 0;
			margin: 0;
			margin-top: 50px;
		}
		.namebar {
			display:block;
			text-align: center;
			margin-top: 10px;
		}
			.bars img {
				display: block;
				margin: 0 auto;
			}
			.textopinion {
				margin-top: 10px;
				background: white;
				padding: 8px;
				float: right;
				font-size: 8pt;
				font-weight:400;
				font-style: italic;
				color: #777777;
				font-family: 'Open Sans', sans-serif;
			}
			.authoropinion {
				font-size: 10pt;
				font-weight:600;
				color: #777777;
				padding-top: 8px;
				padding-left: 40px;
				font-family: 'Open Sans', sans-serif;
			}
				.textopinion:after {
					content: "";
					position: absolute;
					left: 30px;
					bottom: 3px;
					border-width: 15px 0 0 17px;
					border-style: solid;
					border-color: white transparent;
					display: block;
					width: 0;
				}
		.captionclient {
			color:#7f8c8c;
			font-family: 'Open Sans', sans-serif;
			font-weight: 800;
			font-size: 10pt;
			margin-top: 19px;
		}
			.ellipse {
				border-radius: 100%;
				background-color: #e1e2e2;
				height: 10px;
				width: 10px;
				float: left;
			}
			.line {
				margin-top: 4px;
				border-color: #e1e2e2;
			}
			.lined {
				margin-top: 24px;
			}
			.npbuttons {
				margin-left: 10%;
				background-color: #98a3a3;
				border:none;
				height: 50px;
				width: 50px;
				text-align: center;
				border-bottom: 3px solid transparent;
				border-radius: 4px;
				font-size: 16pt;
				color:white;
				font-family: 'Open Sans', sans-serif;
				border-color: #7f8c8c;
				-webkit-transition: all 0.4s ease-in-out 0;
				-moz-transition: all 0.4s ease-in-out 0;
				-ms-transition: all 0.4s ease-in-out 0;
				-o-transition: all 0.4s ease-in-out 0;
				transition: all 0.4s ease-in-out 0;
			}
				.npbuttons span {
					margin-top: 8px;
					margin-right: 3px;
				}
				.npbuttons:hover {
					background-color: #e2534b;
					border:none;
					color:white;
				}
	.imgsclients {
		height: 150px;
		margin-top:50px;
	}
		.imgclients {
			background-color: black;
			margin: auto;
			width: 225px;
			height: 160px;
			float: left;
			margin-left: 10px;
		}
		.imgclients:first-child {
			margin-left: 0px;
		}