header {
	height: 280px;
	width:100%;
	background-color: #2f2f2f;
}
.header {
	width: 100%;
	height: 40px;
	background-color: #222222;
	margin: 0 auto;
}
	.head {
		margin: 0 auto;
		width: 960px;
		height: 40px;
		background-color: #222222;
		font: italic 9pt georgia;
		clear: both;
	}
	.date {
		color: #bbbbbb;
		position: relative;
		text-align: center;
		display: block;
		float: left;
		padding-top: 10px;
	}
	.dot {
		color: #5c5c5c;
		position: relative;
		text-align: center;
		display: block;
		float: left;
		margin: 0 3px;
		font: italic 11pt georgia;
		padding-top: 3px;
	}
		.topmenu {
			list-style: none;
			display: inline-block;
			width: 550px;
			height: 30px;
			margin-top: 7px;
		}
		.topmenuitem {
			float:left;
			height: 30px;
			margin-right: 10px;
			font: italic 9pt georgia;
		}
		.topmenuitem:hover .atopmenu {
			color: #bbbbbb;
		}
		.atopmenu {
			text-decoration: none;
			color: #696969;
			width: 102px;
			text-align: center;
			font: italic 9pt georgia;
		} 
		.topmenuitem:last-child{
			padding-top: 3px;
		}
		.topmenuitem a span {
			-webkit-transform: rotate(270deg);
			display: inline-block;
			font: italic 11pt georgia;
			padding-right: 5px;
			margin: 0 auto;
		}
			.line {
				text-align: center;
				-webkit-transform: rotate(270deg);
				display: inline-block;
				width: 8px;
				border: none;
				border-bottom: solid 1px #696969;
				margin-bottom: 3px;
			}
				.dopmenutop {
					margin-top:5px;
					-webkit-transition: 0.5s ;
					-moz-transition: 0.5s ;
					-ms-transition: 0.5s ;
					-o-transition: 0.5s ;
					transition: 0.5s ;
					height: 0px;
					overflow: hidden;
					background-color: #222222;
					border-radius: 5px;
					position: relative;
					box-shadow: 0px 3px 5px #1a1a1a;
				}
				.topmenuitem:hover .dopmenutop {
					padding-top:8px;
					padding-bottom: 8px;
					min-height: 75px;
					height: auto;
				}
					.dopitem {	
						padding-bottom: 5px;
						margin-right: 7px;
						margin-left: 7px;
					}
						.dopitem hr{
							margin: 0 auto;
							padding: 0;
							margin-top: 5px;
							border:none;	
							border-bottom: solid 1px #313131; 
						}
						.dopitem a {
							text-decoration: none;
							color: #696969
						}
						.dopitem:hover a{
							color: #bbbbbb;
						}
		.updates {
			color:#787878;
			font: italic 11pt georgia;
			float: right;
			margin-top: 7px;
		}
			.updates a {
				text-decoration: none;
				color: #bbbbbb;
				font: italic 9pt georgia;
			}
.logo {
	background-color: #2f2f2f;
	height: 240px;
	width: 960px;
	margin: 0 auto;
	clear: both;

}
	.logoname {
		font-size: 32pt;
		font-family: 'Noto Sans', sans-serif;
		text-decoration: none;
		background: -webkit-linear-gradient(top, #f7f5f0 60%,#ebe7da 88%);
		-webkit-background-clip: text;
		color: transparent;
		display: block;
		float: left;
		margin-top: 50px;
		margin-left: 20px;
	}
.tag {
	float: left;
	margin-top: 70px;
	color: #8e8e8e;
	font: italic 9pt georgia;
	border-left: solid 1px #4b4b4b;
	margin-left: 10px;
	padding-left: 10px;
	text-shadow:1px 1px 1px grey;
}
.unknown {
	height: 60px;
	width: 468px;
	background-color: #222222;
	float: right;
	margin-top:50px;
	margin-bottom: 50px;
}
.logomenu {
	display: block;
	clear: both;
	width: 959px;
	height: 60px;
	background-color: #272727;
	border-radius: 8px 8px 0 0;
	border-bottom: solid 7px #1e1e1e;
	}
	.logomenuitem {
		height: 60px;
		width: 159px;
		display: inline-block;
		float: left;
		border-right: inset 1px #191919;
	}
		.logomenuitem:last-child {
			border:none;
		}
		.litema{
			color:#ededed;
			text-decoration: none;
			font-family: 'Open Sans', sans-serif;
			font-size: 11pt;
			text-shadow:1px 1px grey;
			clear: both;
			width: 130px;
			display: block;
			padding-left: 10px;
			padding-top: 10px;
		}	
		.alogomenu {
			text-decoration: none;
			color: #696969;
			display: block;
			font: italic 10px georgia;	
			padding-top:10px;
			padding-left: 10px;
		}
			.logomenuitem:hover {
				border-radius: 8px 8px 0 0;
				position: relative;
				height: 63px;
				top:-3px;
				background-color: #222222;
				border-bottom:solid 7px #1e1e1e;
			}
	.dopmenulogo {
		margin-top:20px;
		-webkit-transition: 0.2s ;
		-moz-transition: 0.2s ;
		-ms-transition: 0.2s ;
		-o-transition: 0.2s ;
		transition: 0.2s ;
		height: 0px;
		overflow: hidden;
		background-color: #222222;
		border-radius: 0 0 8px 8px;
		position: relative;
		box-shadow: 0px 3px 5px #1a1a1a;
	}
		.dopiteml {
			padding-bottom: 5px;
			margin-right: 7px;
			margin-left: 7px;
		}
		.logomenuitem:hover .dopmenulogo {
			padding-top:8px;
			padding-bottom: 8px;
			min-height: 75px;
			height: auto;
		}
			.alogomenu:hover {
				color: #bbbbbb;
			}
.content {
	width: 100%;
	height: 380px;
	background-image: url(img/back.png);
}