header {
	height: 280px;
	width:100%;
	background-color: #2f2f2f;
}
.header {
	width: 100%;
	height: 40px;
	background-color: #222222;
	margin: 0 auto;
}
	.head {
		margin: 0 auto;
		width: 960px;
		height: 40px;
		background-color: #222222;
		font: italic 9pt georgia;
		clear: both;
	}
	.date {
		color: #bbbbbb;
		position: relative;
		text-align: center;
		display: block;
		float: left;
		padding-top: 10px;
	}
	.dot {
		color: #5c5c5c;
		position: relative;
		text-align: center;
		display: block;
		float: left;
		margin: 0 3px;
		font: italic 11pt georgia;
		padding-top: 3px;
	}
		.topmenu {
			list-style: none;
			display: inline-block;
			width: 550px;
			height: 30px;
			margin-top: 7px;
		}
		.topmenuitem {
			position: relative;
			float:left;
			height: 30px;
			margin-right: 10px;
			font: italic 9pt georgia;
		}
		.topmenuitem:hover .atopmenu {
			color: #bbbbbb;
		}
		.atopmenu {
			text-decoration: none;
			color: #696969;
			width: 102px;
			text-align: center;
			font: italic 9pt georgia;
		} 
		.topmenuitem:last-child{
			padding-top: 3px;
		}
		.topmenuitem a span {
			-webkit-transform: rotate(270deg);
			display: inline-block;
			font: italic 11pt georgia;
			padding-right: 5px;
			margin: 0 auto;
		}
			.line {
				text-align: center;
				-webkit-transform: rotate(270deg);
				display: inline-block;
				width: 8px;
				border: none;
				border-bottom: solid 1px #696969;
				margin-bottom: 3px;
			}
				.dopmenutop {
					top:60px;
					visibility: hidden;
					opacity: 0;
					/* -webkit-transition: 0.5s ;
					-moz-transition: 0.5s ;
					-ms-transition: 0.5s ;
					-o-transition: 0.5s ;
					transition: 0.5s ; */
					-webkit-transition: all 0.2s ease-in-out 0;
					-moz-transition: all 0.2s ease-in-out 0;
					-ms-transition: all 0.2s ease-in-out 0;
					-o-transition: all 0.2s ease-in-out 0;
					transition: all 0.2s ease-in-out 0;
					background-color: #222222;
					border-radius: 5px;
					position: absolute;
					box-shadow: 0px 3px 5px #1a1a1a;
				}
				.topmenuitem:hover .dopmenutop {
					top: 30px;
					visibility: visible;
					opacity: 1;
					padding-bottom: 8px;
				}
					.dopitem {	
						padding-bottom: 5px;
						margin-right: 7px;
						margin-left: 7px;
					}
						.dopitem hr{
							margin: 0 auto;
							padding: 0;
							margin-top: 5px;
							border:none;	
							border-bottom: solid 1px #313131; 
						}
						.dopitem a {
							text-decoration: none;
							color: #696969
						}
						.dopitem:hover a{
							color: #bbbbbb;
						}
		.updates {
			color:#787878;
			font: italic 11pt georgia;
			float: right;
			margin-top: 7px;
		}
			.updates a {
				text-decoration: none;
				color: #bbbbbb;
				font: italic 9pt georgia;
			}
.logo {
	background-color: #2f2f2f;
	height: 240px;
	width: 960px;
	margin: 0 auto;
	clear: both;

}
	.logoname {
		font-size: 32pt;
		font-family: 'Noto Sans', sans-serif;
		text-decoration: none;
		background: -webkit-linear-gradient(top, #f7f5f0 60%,#ebe7da 88%);
		-webkit-background-clip: text;
		color: transparent;
		display: block;
		float: left;
		margin-top: 50px;
		margin-left: 20px;
	}
.tag {
	float: left;
	margin-top: 70px;
	color: #8e8e8e;
	font: italic 9pt georgia;
	border-left: solid 1px #4b4b4b;
	margin-left: 10px;
	padding-left: 10px;
	text-shadow:1px 1px 1px grey;
}
.baner {
	height: 60px;
	width: 468px;
	background:url(img/baner.png);
	float: right;
	margin-top:50px;
	margin-bottom: 50px;

}
.logomenu {
	display: block;
	clear: both;
	width: 960px;
	height: 60px;
	background-color: #272727;
	border-radius: 8px 8px 0 0;
	border-bottom: solid 7px #1e1e1e;
	}
	.logomenuitem {
		height: 60px;
		width: 159px;
		display: inline-block;
		float: left;
		border-right: inset 1px #191919;
	}
		.logomenuitem:last-child {
			border:none;
			width: 160px;
		}
		.litema{
			color:#ededed;
			text-decoration: none;
			font-family: 'Open Sans', sans-serif;
			font-size: 11pt;
			text-shadow:1px 1px grey;
			clear: both;
			width: 130px;
			display: block;
			padding-left: 10px;
			padding-top: 10px;
		}	
		.alogomenu {
			text-decoration: none;
			color: #696969;
			display: block;
			font: italic 10px georgia;	
			padding-top:10px;
			padding-left: 10px;
		}
			.logomenuitem:hover {
				border-radius: 8px 8px 0 0;
				position: relative;
				height: 63px;
				top:-3px;
				background-color: #222222;
				border-bottom:solid 7px #1e1e1e;
			}
	.dopmenulogo {
		margin-top:20px;
		-webkit-transition: 0.2s ;
		-moz-transition: 0.2s ;
		-ms-transition: 0.2s ;
		-o-transition: 0.2s ;
		transition: 0.2s ;
		height: 0px;
		width: 160px;
		overflow: hidden;
		background-color: #222222;
		border-radius: 0 0 8px 8px;
		position: absolute;
		z-index: 1000;
		box-shadow: 0px 3px 5px #1a1a1a;
	}
		.dopiteml {
			padding-bottom: 5px;
			margin-right: 7px;
			margin-left: 7px;
		}
		.logomenuitem:hover .dopmenulogo {
			padding-top:8px;
			padding-bottom: 8px;
			min-height: 75px;
			height: auto;
			border-top:solid 3px #1e1e1e;
		}
			.alogomenu:hover {
				color: #bbbbbb;
			}
	.slider {
		height: 343px;
		width: 960px;
		background-color:white;
		z-index: 100;
		position: relative;
		text-align: center;
		font-color:black;
		padding-top: 50px;
	}
	.galleria {
		height: 343px;
	}
		.galleria-container {
			background-color: white;
		}
		.galleria-thumbnails-container {
			width: 700px;
			height: 52px;
			margin: 0 auto;
			background-color: white;
			border-radius:8px 8px 8px 8px;
			position: absolute;
			top: 250px;
			padding-top: 8px;
		}
		.galleria-thumb-nav-left, .galleria-thumb-nav-right {
			margin-top: 8px;
			background-color: #f2f2f2;
			outline: solid 1px #dfdfdf;
			width:15px ;
			margin-left: 5px;
			margin-right: 5px;
		}
		.galleria-info {
			top: none;
			left: none;
			position: relative;
			margin: 0 auto;
			opacity: 0.6;
		}
		.galleria-info:hover {
			opacity: 1;
		}
	.content {
		width: 100%;
		height: 1850px;
		background: #f8f8f8 url(img/back.png) repeat-x;
		z-index: 11;
		position: relative;
	}
		.usercontent {
			width: 960px;
			min-height: 1550px;
			height: auto;
			margin: 0px auto;
			padding-top: 380px;
			background-color: white;
			position: relative;
			box-shadow: 0px 1px 4px #6e6d6d;
			z-index: 8;
		}
			.rightside {
				border-left:solid 1px #efefef;
				width: 319px;
				min-height: 1300px;
				float: right;
				margin-top: 20px;
			}
			.advertbanner {
				height: 213px;
				width: 259px;
				margin-top:15px;
				background-color: #542f39;
				border:solid 3px #c7c7c7;
			}
			.leftside {
				width: 640px;
				min-height: 680px;
				float: left;
				position: relative;
			}
				.col {
					width: 275px;
					min-height: 452px;
					position: relative;
					margin-left: 30px;
					margin-top: 30px;
					float: left;
				}
					.colimg {
						display: block;
						float: right;
						height: 14px;
						width: 157px;
						margin-left: 15px;
					}
					.imgpost {
						outline: solid 1px #a3a3a3;
						height: 144px;
						width: 269px;
						margin-top: 15px;
						margin-bottom: 15px;
						box-shadow: 0px 0px 2px 2px #d7d7d7;
						border:solid 3px white;
						background-color: #666666;
					}
					.imgtext{
						font-size:  10pt;
						color:#555555;
						padding-bottom: 10px;
						border-bottom:1px solid #e7e7e7;
					}
						.nameimg{
							color:#444444;
							text-decoration: none;
							text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
						}
						.nameimg:hover{
							color:#e47600;
						}
						.imgtext span {
							color:#aaaaaa;
							font:italic 8pt georgia;
						}
							.com {
								color:#aaaaaa;
								font:italic 8pt georgia;	
								text-decoration: none;
							}
							.com:hover{
								color:#444444;
								text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
							}
					.comment{
						width: 275px;
						min-height:72px;
						position: relative;
						border-bottom:1px solid #e7e7e7;
					}
						.imgcomment{
							outline: solid 1px #a3a3a3;
							height: 40px;
							width: 40px;
							margin-top: 15px;
							float: left;
							margin-bottom: 15px;
							box-shadow: 0px 0px 2px 2px #d7d7d7;
							border:solid 1px white;
							background-color: #666666;
						}
						.textcomment {
							padding-top: 10px;
							position: relative;
							font-size:  10pt;
							color:#555555;
							padding-left: 60px;
						}
						.comment span {
							color:#aaaaaa;
							font:italic 8pt georgia;
						}
				.row {
					width: 580px;
					margin-left: 30px;
					margin-top: 30px;
					float: left;
					position: relative;
				}
					.rowimg {
						display: block;
						float: right;
						height: 14px;
						width: 490px;
						margin-left: 15px;
					}
					.latestpostitem {;
						margin-bottom: 15px;
						margin-top: 15px;
						border-bottom: 1px solid #e7e7e7;
					}
						.imglatestpost{
							outline: solid 1px #a3a3a3;
							height: 110px;
							width: 219px;
							margin-top: 15px;
							margin-bottom: 15px;
							box-shadow: 0px 0px 2px 2px #d7d7d7;
							border:solid 3px white;
							display: inline-block;
							background-color: #666666;
						}
							.latestposttext {
								position: relative;
								display: inline-block;
								margin-top: 15px;
								padding-left: 15px;
								width: 335px;
								vertical-align: top;
								font-size: 10pt;
								color: #555555;
							}
				.hatch {
					display: block;
					float:left;
					margin-left: 30px;
					width: 900px;
					background: url(img/hatch.png);
					height: 20px;
				}
				.back {
					text-decoration: none;
					width: 100px;
					font:italic 9pt georgia;
					color: #787878;
					float: right;
				}
					.leftside a span {
						-webkit-transform: rotate(90deg);
						display: inline-block;
						font-size:11pt;
						font-style: bold;
						padding-top: 2px;
						padding-left: 4px;
					}
	.search {
		width: 250px;
		height: 25px;
		margin-left: 30px;
		margin-top: 10px;
		padding-left: 10px;
	}
	.search:focus {
		outline: none;
	}
	.contentbaner {
		width: 265px;
		height: 250px;
		margin-left: 30px;
		margin-top: 30px;
	}
		.banerimg {
			display: block;
			float: right;
			height: 14px;
			width: 157px;
			margin-left: 15px;	
		}
	.sponsorsbaner {
		width: 265px;
		height: 162px;
		margin-left: 30px;
		margin-top: 30px;
	}
		.condivname {
			display: inline;
			font: italic 10pt georgia;
			color: #444444;
			text-shadow:0px 0px 4px #dfdfdf;
		}
			.sponimg {
				display: block;
				float: right;
				height: 12px;
				width: 190px;
				margin-left: 15px;
			}
			.sponsor {
				height:125px;
				width:125px;
				float: left;
				border:solid 3px #c7c7c7;
				margin-top: 15px;
				background-color: #542f39;
			}
				.sponsor:last-child {
					float: right;
				}
	.video {
		width: 265px;
		margin-left: 30px;
		margin-top: 30px;
		position: relative;
	}	
		.videoimg{
				display: block;
				float: right;
				height: 14px;
				width: 150px;
				margin-left: 15px;
		}
	.twitter {
		width: 265px;
		height: 257px;
		margin-left: 30px;
		margin-top: 30px;
		outline: dashed 1px red;
	}
		.twitterimg {
			display: block;
			float: right;
			height: 14px;
			width: 200px;
			margin-left: 15px;
		}
	.posts {
		width: 265px;
		height: 257px;
		margin-left: 30px;
		margin-top: 30px;
		outline: dashed 1px red;
	}
		.postimg{
			display: block;
			float: right;
			height: 14px;
			width: 165px;
			margin-left: 15px;
		}
.about {
	width: 100%;
	height: 350px;
	z-index: 800;
	background-color: #2b2b2b;
}
footer{
	width: 100%;
	position: relative;
	height: 42px;
}
	.footer {
		width: 960px;
		height: 42px;
		margin: 0 auto;
		position: relative;
	}
		.leftabout {
			font-size: 9pt;
			font-family: 'Open Sans', sans-serif;
			color: #999999;
			margin: 15px auto;
			float: left;
		}
		.footermenu {
			float:right;
			font-size: 9pt;
			font-family: 'Open Sans', sans-serif;
			margin: 15px auto;
		}	
			.footermenu li {
				display: inline-block;
				color: #444444;
				}
				.footermenu li a {
					display: inline-block;
					color: #444444;
					text-decoration: none;
				}
			.footermenu li:first-child {
				color:#999999;
			}